/*  your css code here. If applicable */
 body{
            background-color: rgb(204,204,204);
        }
h1{
	text-align:center;
}
h2{
	text-align:center;
}
a{
	text-decoration:none;
	color:black;
}
        .player_one{
            background-color: rgb(255,255,255);
            display: flex;
			padding:10px;
            flex-direction: column;
            border: 1px solid black;
			border-radius:5px;
        }
        
		li{
			list-style-type:none;
		}
        .player_two{
            background-color: white;
            position: relative;
            left: 40%;
		
            display: inline-block;
        
            padding: 10px;
            border: 1px solid black;
			border-radius:4px;
        }
        